## ${VERSION}  

### **Release Metadata**

<table>
  <tr><td><strong>Version</strong></td><td><code>${VERSION}</code></td></tr>
  <tr><td><strong>Container Image</strong></td><td><code>${IMAGE_WITH_TAG}</code></td></tr>
  <tr><td><strong>Container Image UBI</strong></td><td><code>${IMAGE_UBI_WITH_TAG}</code></td></tr>
  <tr><td><strong>Reloader OSS Release Notes</strong></td><td><a href="${RELEASE_URL}">Release Notes</a></td></tr>
</table>

---

### **SBOM**  

<details>
<summary>Click to expand SBOM JSON</summary>

```json
${SBOM}
```

</details>
